<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Crack my math captcha</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <link rel="shortcut icon" href="/assets/hacker.png" type="image/png" />
        {% if plausible_domain is not none %}
        <script
            defer
            data-domain="{{ plausible_domain }}"
            src="https://{{ plausible_server }}/js/script.js"
        ></script>
        {% endif%}
    </head>
    <body>
        <header>
            <!-- Place this tag where you want the button to render. -->
            <a
                class="github-button"
                href="https://github.com/athoune/crack-my-math-captcha"
                data-color-scheme="no-preference: light_high_contrast; light: light; dark: dark;"
                data-size="large"
                aria-label="Star athoune/crack-my-math-captcha on GitHub"
                >Star</a
            >
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
